.search {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 150px 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    @media (min-width: 992px) { 
        margin: 0 20px;
        flex-direction: row;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 20px 20px;
        height: 400px;
        padding: 40px;
        width: 200px;

        @media (min-width: 992px) { 
            width: 350px;
        }

        @media (min-width: 1200px) { 
            width: 400px;
        }
    }

    &__title {
        font-size: 1.5em;
        font-weight: bold;
        text-align: left;
        margin-bottom: 20px;
    }
    
    &__section {
        width: 200px;

        @media (min-width: 992px) { 
            width: 350px;
        }

        @media (min-width: 1200px) { 
            width: 400px;
        }
    }
    
    &__input {
        box-sizing: border-box;
        height: 50px;
        width: 100%;
        border: 1px solid #888;
        outline: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin-bottom: 20px;
        opacity: .5;

        @media (min-width: 992px) { 
            font-size: 1.2em;
        }

        &--active {
            opacity: 1;
        }
    }

    &__suggestion {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 400px;
        background-color: #fff;
        margin: 20px 20px;
        box-sizing: border-box;
        padding: 40px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 280px;
        min-height: 400px;

        @media (min-width: 992px) { 
            width: 430px;
        }

        @media (min-width: 1200px) { 
            width: 480px;
        }
    }

    &__arrow {
        position: absolute;
        left: -25px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-right: 30px solid #fff;
        border-bottom: 20px solid transparent;
    }

    &__list {
        display: flex;
        font-size: 1.2em;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        border: 1px solid #555;
        border-radius: 5px;
        margin: 0;
        padding: 0;
    }
}